@use "../abstracts/abstracts" as ab;

.container {
 max-width: 1200px;
 margin-left: auto;
 margin-right: auto;
 background-color: ab.$bg-black;
 padding: 30px 70px;

 background-image: url(/src/img/content.png);
 background-repeat: no-repeat;
 background-position: bottom right;
 background-size: 600px;

 }



