@use "../abstracts/abstracts" as ab;



.hero {
    max-width: 45% ;
    margin-bottom: 50px;

    &_title {
        color:white;
        font-size: 50px;
        line-height: 1.2;
        margin-bottom: 15px;
        font-family: 'Merriweather';
        font-weight: 700;
    }
    &_description {
        max-width: 75%;
        color: ab.$grey;
        margin-bottom: 25px;
    }
    &_botones {
        & .btn {
            @include ab.boton();
            margin-right: 20px;
        }

        & .link{
            display: inline-flex;
            align-items: center;
            color: white;
            gap: 5px;
            font-size: 13px;
            &:hover {
                color:ab.$pink
            }

            & img {
                width: 30px;
            }
        }
    }

}